.shoes {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3;
        }

        #item1 {
            grid-area: item1;
            padding: 10px;
            margin: 10px;
            background-color: red;
        }

        nav a {
            color: red;
            font-size: 1em;
            margin-left: 50px;
            text-decoration: none;
        }
         .grid-container {
            display: grid;
            grid-template-areas:
         'item1 item1 item1 item1 item1 item1 item1'

        ;
        }
        @media only screen and (max-width: 600px) {
               .grid-container {
                display: grid;
                grid-template-areas:
         'item1 item1 item1 item1 item1 item1 item1'

            ;
            }
            .container-fluid {
                display: flex;
                flex-direction: row;
            }
        }